config.local.php
.buildpath
.project
.settings
app/export

/app/lib/apache-log4php-2.0.0-incubating/CHANGELOG
/app/lib/apache-log4php-2.0.0-incubating/INSTALL
/app/lib/apache-log4php-2.0.0-incubating/LICENSE
/app/lib/apache-log4php-2.0.0-incubating/NOTICE
/app/lib/apache-log4php-2.0.0-incubating/README
/app/lib/apache-log4php-2.0.0-incubating/docs/classtrees_log4php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/elementindex.html
/app/lib/apache-log4php-2.0.0-incubating/docs/elementindex_log4php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/errors.html
/app/lib/apache-log4php-2.0.0-incubating/docs/index.html
/app/lib/apache-log4php-2.0.0-incubating/docs/li_log4php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/Logger.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerAppender.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerAppenderPool.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerConfigurator.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerException.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerFilter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerHierarchy.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerLayout.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerLevel.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerLocationInfo.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerLoggingEvent.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerMDC.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerNDC.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerReflectionUtils.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/LoggerRoot.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_Logger.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerAppender.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerAppenderPool.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerConfigurator.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerException.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerFilter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerHierarchy.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerLayout.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerLevel.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerLocationInfo.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerLoggingEvent.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerMDC.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerNDC.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerReflectionUtils.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_LoggerRoot.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderAdodb.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderConsole.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderDailyFile.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderEcho.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderFile.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderMail.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderMailEvent.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderNull.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderPDO.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderPhp.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderRollingFile.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderSocket.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_appenders---LoggerAppenderSyslog.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_configurators---LoggerConfiguratorBasic.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_configurators---LoggerConfiguratorIni.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_configurators---LoggerConfiguratorPhp.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_configurators---LoggerConfiguratorXml.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_filters---LoggerFilterDenyAll.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_filters---LoggerFilterLevelMatch.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_filters---LoggerFilterLevelRange.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_filters---LoggerFilterStringMatch.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerBasicPatternConverter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerCategoryPatternConverter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerClassNamePatternConverter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerDatePatternConverter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerFormattingInfo.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerLiteralPatternConverter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerLocationPatternConverter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerMDCPatternConverter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerNamedPatternConverter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerOptionConverter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerPatternConverter.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_helpers---LoggerPatternParser.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_layouts---LoggerLayoutHtml.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_layouts---LoggerLayoutPattern.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_layouts---LoggerLayoutSimple.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_layouts---LoggerLayoutTTCC.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_layouts---LoggerLayoutXml.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_renderers---LoggerRendererDefault.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_renderers---LoggerRendererMap.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/_renderers---LoggerRendererObject.php.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderAdodb.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderConsole.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderDailyFile.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderEcho.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderFile.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderMail.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderMailEvent.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderNull.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderPDO.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderPhp.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderRollingFile.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderSocket.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/appenders/LoggerAppenderSyslog.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/configurators/LoggerConfiguratorBasic.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/configurators/LoggerConfiguratorIni.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/configurators/LoggerConfiguratorPhp.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/configurators/LoggerConfiguratorXml.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/filters/LoggerFilterDenyAll.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/filters/LoggerFilterLevelMatch.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/filters/LoggerFilterLevelRange.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/filters/LoggerFilterStringMatch.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerBasicPatternConverter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerCategoryPatternConverter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerClassNamePatternConverter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerDatePatternConverter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerFormattingInfo.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerLiteralPatternConverter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerLocationPatternConverter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerMDCPatternConverter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerNamedPatternConverter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerOptionConverter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerPatternConverter.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/helpers/LoggerPatternParser.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/layouts/LoggerLayoutHtml.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/layouts/LoggerLayoutPattern.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/layouts/LoggerLayoutSimple.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/layouts/LoggerLayoutTTCC.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/layouts/LoggerLayoutXml.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/renderers/LoggerRendererDefault.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/renderers/LoggerRendererMap.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/renderers/LoggerRendererObject.html
/app/lib/apache-log4php-2.0.0-incubating/docs/log4php/tutorial_log4php.pkg.html
/app/lib/apache-log4php-2.0.0-incubating/docs/media/banner.css
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/I.png
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/L.png
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/Lminus.png
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/Lplus.png
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/T.png
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/Tminus.png
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/Tplus.png
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/blank.png
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/empty.png
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/minus.gif
/app/lib/apache-log4php-2.0.0-incubating/docs/media/images/plus.gif
/app/lib/apache-log4php-2.0.0-incubating/docs/media/lib/classTree.js
/app/lib/apache-log4php-2.0.0-incubating/docs/media/stylesheet.css
/app/lib/apache-log4php-2.0.0-incubating/docs/packages.html
/app/lib/apache-log4php-2.0.0-incubating/docs/todolist.html
/app/lib/apache-log4php-2.0.0-incubating/package-config.php
/app/lib/apache-log4php-2.0.0-incubating/package.php
/app/lib/apache-log4php-2.0.0-incubating/pom.xml
/app/lib/apache-log4php-2.0.0-incubating/src/assembly/src.xml
/app/lib/apache-log4php-2.0.0-incubating/src/changes/changes.xml
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_console.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_dailyfile.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_echo.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_file.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_mail.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_mailevent.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_null.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_pdo.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_php.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_rollingfile.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_socket.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_socket_server.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/appender_syslog.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/cache.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/configurator_basic.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/configurator_php.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/configurator_xml.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/filter_denyall.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/filter_levelmatch.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/filter_levelrange.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/filter_stringmatch.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/layout_html.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/layout_pattern.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/layout_simple.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/layout_ttcc.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/layout_xml.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/mdc.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/ndc.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/renderer_default.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/renderer_map.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/php/simple.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_console.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_dailyfile.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_echo.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_file.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_mail.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_mailevent.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_null.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_pdo.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_php.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_rollingfile.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_socket.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_socket_server.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/appender_syslog.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/cache.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/configurator_php.php
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/configurator_xml.xml
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/filter_denyall.xml
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/filter_levelmatch.xml
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/filter_levelrange.xml
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/filter_stringmatch.xml
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/layout_html.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/layout_pattern.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/layout_simple.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/layout_ttcc.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/layout_xml.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/mdc.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/ndc.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/renderer_default.properties
/app/lib/apache-log4php-2.0.0-incubating/src/examples/resources/renderer_map.properties
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/contributingpatches.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/docs/appender-filter.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/docs/appender-layout.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/docs/appender-threshold.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/docs/appenders.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/docs/configuration.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/docs/introduction.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/docs/performance.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/docs/renderer.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/download.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/index.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/install.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/quickstart.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/roadmap.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/showcase.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/upgrading.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/usage.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/apt/volunteering.apt
/app/lib/apache-log4php-2.0.0-incubating/src/site/resources/css/site.css
/app/lib/apache-log4php-2.0.0-incubating/src/site/resources/images/apache-incubator-logo.png
/app/lib/apache-log4php-2.0.0-incubating/src/site/resources/images/logo.jpg
/app/lib/apache-log4php-2.0.0-incubating/src/site/resources/images/ls-logo.jpg
/app/lib/apache-log4php-2.0.0-incubating/src/site/site.xml
/app/lib/apache-log4php-2.0.0-incubating/src/test/config/phpunit_to_surefire.xslt
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/LoggerAppenderTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/LoggerExceptionTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/LoggerFilterTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/LoggerHierarchyTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/LoggerLevelTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/LoggerLoggingEventTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/LoggerReflectionUtilsTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/LoggerRootTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/LoggerTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/LoggerTest.properties
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/README
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderConsoleTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderDailyFileTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderEchoTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderFileTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderMailEventTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderMailTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderNullTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderPDOTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderPhpTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderRollingFileTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderSocketTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/appenders/LoggerAppenderSyslogTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/bootstrap.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/configurators/LoggerConfiguratorBasicTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/configurators/LoggerConfiguratorIniTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/configurators/LoggerConfiguratorPhpTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/configurators/LoggerConfiguratorXmlTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/configurators/test1.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/configurators/test1.properties
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/configurators/test1.xml
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/configurators/test2.properties
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/configurators/test3.properties
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/configurators/test4.properties
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/filters/LoggerFilterDenyAllTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/filters/LoggerFilterLevelMatchTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/filters/LoggerFilterLevelRangeTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/filters/LoggerFilterStringMatchTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/helpers/LoggerOptionConverterTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/helpers/LoggerPatternParserTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/layouts/LoggerLayoutHtmlTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/layouts/LoggerLayoutPatternTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/layouts/LoggerLayoutSimpleTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/layouts/LoggerLayoutTTCCTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/layouts/LoggerLayoutXmlTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/phpunit.xml
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/renderers/LoggerRendererDefaultTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/renderers/LoggerRendererMapTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/renderers/LoggerRendererObjectTest.php
/app/lib/apache-log4php-2.0.0-incubating/src/test/php/renderers/test4.properties
/app/lib/debughelper/changes.txt
/app/lib/debughelper/debugHelper.php
/app/lib/debughelper/examples/exampleDebug.html
/app/lib/debughelper/examples/exampleDebug.php
/app/lib/debughelper/examples/exampleErrorHandler.html
/app/lib/debughelper/examples/exampleErrorHandler.php
/app/lib/debughelper/examples/exampleTables.html
/app/lib/debughelper/examples/exampleTables.php
/app/lib/debughelper/phpdoc/debugHelper.html
/app/lib/debughelper/phpdoc/stylesheet.css
/app/build/fixtures/old/backup.yml
/app/build/fixtures/old/backup1303739557.yml
/app/build/fixtures/old/backup1303740586.yml
/app/build/fixtures/old/backup1303937988.yml
/app/build/fixtures/old/backup1303944242.yml
/app/build/fixtures/old/backup1304263685.yml
/app/build/fixtures/old/backup1304325577.yml
/app/build/fixtures/old/backup1304325810.yml
/app/build/fixtures/old/backup1304331234.yml
/app/build/fixtures/old/backup1304333751.yml
/app/build/fixtures/old/backup1305312701.yml
/app/build/fixtures/old/backup1305322223.yml
/app/build/fixtures/old/backup1305323004.yml
/app/build/fixtures/old/backup1305325792.yml
/app/build/fixtures/old/backup1305727680.yml
/app/build/fixtures/old/backup1305728605.yml
/app/build/fixtures/old/backup1305729984.yml
/app/build/fixtures/old/backup1305731249.yml
/app/build/fixtures/old/backup1305739924.yml
/app/build/schema/schema.yml