{% extends "index.html" %}
 
{% block title %}Stallcount9 - home{% endblock %}

{% block content %}
	<h1>Stallcount9 tournament management</h1>
  	
  	<h2>Open tournaments</h2>
	<ul>
		<li><a href="?n=/tournament/detail/1">Windmill Windup 2011</a></li>
	</ul> 	


  	
  	<h2>Active tournaments</h2>
	
	<ul>
		<li><a href="?n=/tournament/detail/1">Windmill Windup 2011</a></li>
	</ul> 	
	


	<h2>Closed tournaments</h2>
  	<ul>
  		<li><a href="?n=/tournament/detail/2">Windmill Windup 2010</a></li>
  	</ul>
	
  	<a class="button" href="?n=/tournament/create"><span>New tournament</span></a>
  	
  	

  
{% endblock %}