{% extends "index.html" %}
 
{% block title %}Stallcount9 - home{% endblock %}

{% block tabs %}{% endblock %}

{% block pagetitle "Stallcount9 tournament management" %}

{% block content %}
	
  	<div class="section">
  		<h3>Tournaments</h3>
		
		<table>
			<tr>
				<th>Tournament name</th>
				<th class="op">Operations</th>
			</tr>
			{% for tournament in tournamentList %}
			<tr>
				<td>
					<a href="?n=/tournament/detail/{{tournament.id}}">{{ tournament.title }}</a>
				</td>
				<td class="op">
					<a href="?n=/tournament/remove/{{tournament.id}}"><img src="skin/default/assets/img/icons/cross-16.png" alt="delete" /></a>
				</td>
			</tr>
			{% endfor %}
	 	</table>

	
  		<a class="button button-blue" href="?n=/tournament/create"><span class="add">New tournament</span></a>
  		<a class="button button-blue" href="?n=/tournament/windmill2011"><span class="add">Load Windmill 2011</span></a>  		
  	</div>

  
{% endblock %}