<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Stallcount9{% endblock %}</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<style type="text/css">
		@import url("skin/default/assets/style/master.css");
	</style>
	{% block header %}{% endblock %}
</head>
<body>
<div id="menubar" class="menubar">
	<div class="container">
		<ul class="selection">
			<li class="first">
				{% if activeTournament %}<a href="index.php?n=/tournament/detail/{{activeTournament.id}}">{{activeTournament.title}}</a>{% else %}<a href="#">Tournaments</a>{% endif %}
				<ul>
				{% for tournamentOption in tournamentOptions %}
					<li><a href="index.php?n=/tournament/detail/{{tournamentOption.id}}">{{tournamentOption.title}}</a></li>
				{% endfor %}
				</ul>
			</li>
			{% if divisionOptions %}
				<li>
					{% if activeDivision %}<a href="index.php?n=/division/detail/{{activeDivision.id}}&tournamentId={{tournamentId}}">{{activeDivision.title}}</a>{% else %}<a href="#">Divisions</a>{% endif %}
					<ul>
					{% for divisionOption in divisionOptions %}
						<li><a href="index.php?n=/division/detail/{{divisionOption.id}}&tournamentId={{tournamentId}}">{{divisionOption.title}}</a></li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
			{% if stageOptions %}
				<li>
					{% if activeStage %}<a href="index.php?n=/stage/detail/{{activeStage.id}}&tournamentId={{tournamentId}}&divisionId={{divisionId}}">{{activeStage.title}}</a>{% else %}<a href="#">Stages</a>{% endif %}
					<ul>
					{% for stageOption in stageOptions %}
						<li><a href="index.php?n=/stage/detail/{{stageOption.id}}&tournamentId={{tournamentId}}&divisionId={{divisionId}}">{{stageOption.title}}</a></li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
			{% if poolOptions %}
				<li>
					{% if activePool %}<a href="index.php?n=/pool/detail/{{activePool.id}}&tournamentId={{tournamentId}}&divisionId={{divisionId}}&stageId={{stageId}}">{{activePool.title}}</a>{% else %}<a href="#">Pools</a>{% endif %}
					<ul>
					{% for poolOption in poolOptions %}
						<li><a href="index.php?n=/pool/detail/{{poolOption.id}}&tournamentId={{tournamentId}}&divisionId={{divisionId}}&stageId={{stageId}}">{{poolOption.title}}</a></li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
		</ul>
		
		<ul class="controls">
			<li class="first"><a href="index.php"><img src="skin/default/assets/img/icons/home.png" alt="home" /></a></li>
		</ul>
	</div>
</div>

<div id="header" class="header">
	<div class="container">
		<h1>{% if activeTournament %}{{activeTournament.title}}{% else %}Stallcount 9{% endif %}</h1>
		
		<ul class="tabs">
			{% block tabs %}
				<li{% if section == 'sms'%} class="active"{% endif %}><a href="?n=/sms/list&tournamentId={{tournamentId}}">SMS</a></li>
				<li{% if section == 'volunteers'%} class="active"{% endif %}><a href="#">Volunteers</a></li>
				<li{% if section == 'field'%} class="active"{% endif %}><a href="?n=/field/list&tournamentId={{tournamentId}}">Fields</a></li>
				<li{% if section == 'tournament'%} class="active"{% endif %}><a href="index.php?n=/tournament/detail/{{tournamentId}}">Tournament</a></li>
			{% endblock %}
		</ul>
	</div>	
</div>

<div id="titlebar" class="titlebar">
	<h2>{% block pagetitle %}Home{% endblock %}</h2>
	
</div>

<div id="content">

	{% block content %}
		<h1>Hello world</h1>
		<p> twig test </p>
	{% endblock %}
	
</div>


	
</body>
</html>