{% extends "index.html" %}
 
{% block title %}Edit Match {{match.matchName}}{% endblock %}
{% block pagetitle %} Edit Match {{match.matchName}} {{match.HomeTeam.name}} vs {{match.AwayTeam.name}} {% endblock %}
{% block content %}
	
  	<div class="section">
  		<h3>Edit match</h3>
  	
	  	<form method="post" action="?n=/match/edit/{{match.id}}" name="form-match-edit">
	  		{% include "match/form.html" %}
	
			<button name="matchSubmit" value="1">update</button>
	  	</form>
	</div>
  
  	
  
  
  
{% endblock %}