	<ul class="formlist">
  		<li>
  			<label>Home score </label>
  			<input type="text" name="homeScore" value="{{ match.homeScore }}" />
  		</li>
  		<li>
  			<label>Away score</label>
  			<input type="text" name="awayScore" value="{{ match.awayScore }}" />
  		</li>
  		
  		<li>
  			<label>Home Spirit </label>
  			<input type="text" name="homeSpirit" value="{{ match.homeSpirit }}" />
  		</li>
  		<li>
  			<label>Away Spirit</label>
  			<input type="text" name="awaySpirit" value="{{ match.awaySpirit }}" />
  		</li>
  		
  		<li>
  			<label>Time slot</label>
  			<input id="matchScheduledTime" type="text" name="scheduledTimeHour" value="{{ match.timeFormat()}} " />
  			
  		</li>
  		
  		<li>
  			<label>Field</label>
  			<select name="fieldId">
  				{% for field in fields %}
					<option value="{{field.id}}" {% if field.id == match.field_id %} selected="selected"{% endif %}>{{field.title}}{% if field.comments %} - ( {{field.comments}} ){% endif %}</option>  				
  				{% endfor %}
  			</select>
  		</li>
  	</ul>
  	
  	<input type="hidden" name="tournamentId" value="{{tournamentId}}" />
  	<input type="hidden" name="divisionId" value="{{divisionId}}" />
  	<input type="hidden" name="stageId" value="{{stageId}}" />