	body, html {
		padding: 0; margin: 0;
	}

	body {
		
	}
	
	
	.hidden, .data { display: none;}
	.container {
		width: 960px;
		margin: auto;
		text-align: left;
	}
	
/* MENU BAR ----*/
	

	.menubar ul.selection {	float: left;}
	.menubar ul li {	
		float: left;
		border-right: 1px solid #4e4e4e;
		height: 31px;
		position: relative;
	}
	.menubar ul.selection li {

	}

	.menubar ul li a {
		display: block;
		padding: 8px 16px 0px 16px;
	}
	.menubar ul.selection li a {
		margin-right: 8px;
		background: transparent url('img/arrow_down.png') no-repeat right 13px;
	}
	.menubar ul li.first {
		border-left: 1px solid #4e4e4e;
	}
	
	.menubar ul.controls {
		float: right;
	}
	
	/* submenu ------*/
	
		.menubar ul li ul {
			display: none;
			float :left;
			position: absolute;
			top: 32px;
			left: 0;
		}
		
		.menubar ul li:hover ul {
			display: block;
		}
		
		.menubar ul li ul li{
			display: block;
			border-bottom: 1px solid #4e4e4e;
			background: #020202;
			width: 200px;
		}
		
		.menubar ul li ul li:hover {
			background: #ee252b;
		}
		
		.menubar ul.selection li ul li a {
			background-image: url("img/arrow_right.png");
			color: #fff;
		}
	

/* HEADER ------*/
	
	.header h1 {
		width: 448px;
		padding: 26px 0 0 16px;
		float: left;
	}

	.header ul.tabs {
		margin-top: 50px;
		width: 496px;
		overflow: hidden;
		float: left;
	}
	.header ul.tabs li {
		float: right;
		overflow: hidden;
		margin: 0; padding: 0;
		border-top: 1px solid #020202;
		border-left: 1px solid #020202;
		border-right: 1px solid #020202;
	}
	
	.header ul.tabs li a{
		display: block;
		text-align: center;
		padding: 8px 16px 8px 16px;
		background-color: #333d44;
		border-top: 1px solid #46555e;
		cursor: pointer;
		margin-left: 1px;
	}
	
	.header ul.tabs li.active a, .header ul.tabs li a:hover {
		background-color: #e2e1dc;
	}
	
	
/* Titlebar--------*/

	.titlebar h2 {
		color: #3b454d;
		width: 928px;
		margin: auto;
		padding: 32px 16px 0 16px;
		text-align: left;
	}

	
	
/* Section ---------*/

	.section {
		background: #fff url("img/box_bg.png") repeat-x left top;
		padding: 16px;
		border: 1px solid #efefef;
		box-shadow: 0 1px 2px rgba(0,0,0,0.75);
		margin-bottom: 32px;
	}

	.section h3 {
		padding-bottom: 32px;
	}



/* Table ---------- */

	table { width: 100%; margin-bottom: 16px;}
	th, td {
		padding: 16px;
		border-bottom: 1px solid #dfdfdf;
	}
	
	th {
		background-color: #3b454d;
		color: #fff;
		font-weight: bold;
	}
	
	tr.odd td {
		background-color: #f2f2f2;
	}

	table .op {
		width: 100px;
		padding-top: 0;
		padding-bottom: 0;
		text-align: right;
	}
	
	tr.active td {
		background-color: #C6C6C6;
	}

/* Buttons ---------*/


	a.button {
		display: inline-block;
		width: 146px; /* 146 x 34 */
		height: 34px;
		color: #fff;
		text-decoration: none;
		background: transparent url("img/button_blue.png") no-repeat left top;
	}
	a.button span {
		display: block;
		height: 24px;
		padding: 10px 0 0 16px;
	}

	a.button:hover {
		color: #fff;
	}

	a.button-red {		background-image: url("img/button_red.png");	}
	a.button-grey {		background-image: url("img/button_grey.png");	}
	
	a.button span.add {		background: transparent url("img/icon/plus.png") no-repeat 116px 6px;	}
	a.button span.cancel {	background: transparent url("img/icon/cancel.png") no-repeat 116px 6px;	}
	a.button span.clock {	background: transparent url("img/icon/clock.png") no-repeat 116px 6px;	}
	a.button span.move {	background: transparent url("img/icon/move.png") no-repeat 116px 6px;	}
	
	
	
	button {
		width: 146px; /* 146 x 34 */
		height: 34px;
		border: 0;
		color: #fff;
		background: transparent url("img/button_blue.png") no-repeat left top;
	}
	
	
	
	
	
	
	
	div.optionsbox {
		display: none;
		position: absolute;
		z-index: 100;
		
		left: 0;
		top: 0;
		
		padding: 20px;
		background: rgba(0, 0, 0, 0.8);
		border-radius: 6px;
		box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	}
	
	
	
	
	
/* :::::::::::::::: OLD OLD OLD OLD OLD OLD OLD OLD ::::::::::::::::::::::::::::::::::::: */

/* GLOBAL :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	a.action {
		background: transparent url("img/bullet1.png") no-repeat right 4px;
		padding-right: 8px;
	}
	
	div.infotext {
		width: 432px;
	}
	
	div.box {
		width: 368px;
		height: 128px;
		padding: 32px 32px 0 32px;
		background: transparent url("img/box.png") no-repeat left top;
	}
	
	div.profilebox div.usericon {
		margin-right: 16px;
		float: left;
	}
	
	div.profilebox div.profileinformation {
		width: 274px;
		float: left;
	}
	
	
	div.usericon {
		width: 64px;
		height: 64px;
		overflow: hidden;
	}

	
	

	ul.itemlist { margin-bottom: 16px;}
	ul.itemlist li {
		margin-bottom: 4px;
		overflow: hidden;
		background-color: #fff;
		padding: 8px;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
	
/* FORMS :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

	
	
	ul.formlist { margin-bottom: 16px;}
	
	ul.formlist li {
		margin-bottom: 8px;
		overflow: hidden;
		background-color: #fff;
		padding: 16px;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
	ul.formlist li.formerror {			border: 1px solid red;	}
	ul.formlist li.formerror label {	color: red;	}
	ul.formlist li.formerror label.secondary { color: #005086;}
	
	ul.formlist li.action {
		background-color: transparent;
		padding: 8px 0 0 0;
	}
	
	ul.formlist li.loading {
		background-position: center right;
	}
	
	ul.formlist li.action a.button, div.formactions a.button {
		float: left;
		margin-right: 8px;
	}
	
	ul.formlist li.footnotes {
		padding: 8px 0 0 0;
		background: none;
	}
	
	ul.formlist li label {
		float: left;
		padding-top: 2px;
		width: 160px;
	}
	
	ul.formlist li input {
		width: 232px;
		padding: 0 3px 0 3px;
		border: 1px solid #9caab2;
		height: 22px;
		float: left;
		background: #eff5f6;
	}
	
	ul.formlist li div.group {
		float: left;
		width: 232px;
	}
	ul.formlist li input.formradio {
		width: auto;
		float: none;
	}
	
	ul.formlist li label.checkboxlabel {
		cursor: pointer;
		width: auto;
		padding: 6px 0 0 16px;
	}
	
	ul.formlist li label.secondary {
		width: auto;
		padding: 2px 8px 0 8px;
		float: left;
	}
	
	ul.formlist li input.shorttext {
		width: 60px;
		background: #eff5f6 url("img/inputbg_small.png") no-repeat left top;
	}
	
	div.wwwpreview {

	}
	
	
	div.formfield {
		margin: 0 0 16px 0;
	}
	
	
	textarea {
		width: 256px;
		height: 64px;
	}
	
	div.formerror {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		width:216px;
		overflow: hidden;
		background-color: #d3e3ec;
		padding: 16px;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
	div.formerror p {
		padding: 0;
		margin: 0;
	}
	
	
/* temp prototype styles **/

div.division {
	width: 480px;
	background: #eaf7fa;
	padding: 16px;
	margin-bottom: 32px;	
}
	
	
a.action { color: red;}




/* MOVES :::::::::::::::::::::::::::::::: */

	ul.moves {
		width: 200px;
		border-top: 1px solid #333;
		border-left: 1px solid #333;
		border-right: 1px solid #333;
		margin-bottom: 30px;
	}
	
	ul.moves li {
		height: 30px;
		padding-top: 10px;
		padding-left: 20px;
		border-bottom: 1px solid #333;
		cursor: pointer;
	}
	ul.moves li:hover {
		background-color: #fff;
	}
	
	ul.moves li.activeSpot {
		background-color: red;
	}
	
	
/* POOL DETAILS :::: */

	table.matchlist {
		margin-bottom: 40px;
	}
	
	table.matchlist td, table.matchlist th {
		padding: 4px 10px 4px 10px;
	}
	
	table.matchlist th {
		background-color: #000;
		color: #fff;
	}
	
	table.matchlist td.rank {
		width: 50px;
	}
	
	table.matchlist td.team {
		width: 140px;
	}
	table.matchlist tr.odd td {
		background-color: #D0E1E5;
	}
	
	
/* POOL DETAILS Standings :::: */
	table.standings {
		margin-bottom: 40px;
	}
	
	table.standings td, table.standings th {
		padding: 4px 10px 4px 10px;
	}
	
	table.standings th {
		background-color: #000;
		color: #fff;
	}
	
	table.standings td.rank {
		width: 50px;
	}
	
	table.standings td.team {
		width: 140px;
	}
	table.standings tr.odd td {
		background-color: #D0E1E5;
	}
