@CHARSET "UTF-8";

	body {
		text-align: center;
		background-color: #fff;
	}
	
	
	#menubar {
		background-color: #020202;
		height: 31px;
	}
	
	#header {
		background: #3b454d url("img/headerbar_bg.png") repeat-x left top;
		height: 80px;
	}
	
	#titlebar {
		height: 79px;
		background-color: #e2e1dc;
		border-bottom: 1px solid #71706e;
	}
	
	#content {
		margin: auto;
		width: 960px;
		text-align: left;
		padding: 32px 0 0 0;
	}
	
