	
	
	body {
		font-family: Helvetica, Arial;
		font-size: 12px;
	}
	
	
	h1, h2, h3 {
		font-weight: normal;
		font-size: 32px;
		font-family: Georgia;
	}
	
	h2, h3 {
		font-size: 20px;
		margin: 0 0 16px 0;
	}
	
	h3 {
		font-size: 16px;
		line-height: 20px;
	}
	
	p {
		margin: 0 0 16px 0;
		color: #005086;
		line-height: 18px;
	}
	
	i {
		font-style: italic;
	}
	
	label {
		line-height: 16px;
	}
	
	
	h1 a, h2 a, h3 a{
		text-decoration: none;
		color: inherit;
	}
	
	
	h2 em {
		color: #69afc4;
	}
	
	h4 {
		color: #005086;
	}
	
	a {
		color: #69afc4;
		font-weight: bold;
		text-decoration: none;
	}
	
	a:hover {
		color: #005086;
	}
	
	
	strong {
		color: #3588d5;
		font-weight: bold;
	}
	
	
/* MENU BAR ----*/	
	.menubar ul.selection li a {
		color: #f2f2e6;
		font-family: Georgia;
		font-size: 12px;
	}
/* HEADER -----*/
	.header h1 {
		color: #fff;
	}
	.header ul.tabs li a{
		color: #a39f94;
	}
	
	.header ul.tabs li.active a, .header ul.tabs li a:hover {
		font-weight: bold;
		color: #7c7b75;
	}
	