	
	
	body {
		font-family: Helvetica, Arial;
		font-size: 12px;
	}
	
	
	h1, h2, h3 {
		font-weight: normal;
		font-size: 24px;
		font-family: Helvetica, arial;
	}
	h1 { 		
		font-style: italic;
		font-weight: 200;
	};
	
	
	h2, h3 {
		font-size: 20px;
		margin: 0 0 16px 0;
	}
	
	h3 {
		font-size: 16px;
		color: #020202;
	}
	
	p {
		margin: 0 0 16px 0;
		color: #005086;
		line-height: 18px;
	}
	
	i {
		font-style: italic;
	}
	
	label {
		line-height: 16px;
	}
	
	
	h1 a, h2 a, h3 a{
		text-decoration: none;
		color: inherit;
	}
	
	
	h2 em {
		color: #69afc4;
	}
	
	h4 {
		color: #005086;
	}
	
	a {
		color: #186ea1;
		font-weight: bold;
		text-decoration: none;
	}
	
	a:hover {
		color: #ee252b;
	}
	
	
	strong {
		color: #3588d5;
		font-weight: bold;
	}
	
	
/* MENU BAR ----*/	
	.menubar ul.selection li a {
		color: #999999;
		font-size: 12px;
	}
/* HEADER -----*/
	.header h1 {
		color: #fff;
	}
	.header ul.tabs li a{
		color: #fff;
	}
	
	.header ul.tabs li.active a, .header ul.tabs li a:hover {
		color: #020202;
	}
	