{% extends "index.html" %}
 
{% block title %}Stallcount9 - New tournament{% endblock %}

{% block content %}
	<h1>Create new tournament</h1>
  
  	<ul class="formlist">
  		<li>
  			<label>Tournament name</label>
  			<input type="text" name="tournamentName" value="Windmill Windup 2011" />
  		</li>
  		<li>
  			<label>Starting date</label>
  			<input type="text" name="startDate" />
  		</li>
  		<li>
  			<label>End date</label>
  			<input type="text" name="endDate" />
  		</li>
  		
  		<li class="formaction">
  			<a class="button" href="?n=/tournament/detail/1"><span>Next step</span></a>
  		</li>
  	</ul>
  	
  
  
  
{% endblock %}