{% extends "index.html" %}
 
{% block pagetitle "Tournament details" %}

{% block content %}
	
	
	<div class="section">
 		<h3>Divisions</h3>
  	
  		
  		<table>
  			<tr>
  				<th>Name</th>
  				<th>Operations</th>
  			</tr>
	  	{% for division in tournament.Divisions %}
	  		<tr{% if loop.index0 is odd %} class="odd"{% endif %}>
			  	<td>
			  		<a href="?n=/division/detail/{{ division.id }}&tournamentId={{tournamentId}}">{{ division.title }}</a>
			  	</td>
			  	<td>
			  		<a href="?n=/division/detail/{{ division.id }}&tournamentId={{tournamentId}}">detail</a> <a href="?n=/division/remove/{{division.id}}&tournamentId={{tournamentId}}">delete</a>
			  	</td>
			</tr>
		 {% endfor %}
	  	</table>
	  	
		<a class="button button-blue" href="?n=/division/create&tournamentId={{tournament.id}}"><span class="add">Add division</span></a>
	</div>
	
	
    
  
{% endblock %}