{% extends "index.html" %}
 
{% block pagetitle "Tournament details" %}

{% block content %}
	
	
	<div class="section">
 		<h3>Divisions</h3>
  	
  		
  		<table>
  			<tr>
  				<th>Name</th>
  				<th>State</th>
  				<th>Active scoring</th>
  				<th class="op">Operations</th>
  			</tr>
	  	{% for division in tournament.Divisions %}
	  		<tr{% if loop.index0 is odd %} class="odd"{% endif %}>
			  	<td>
			  		<a href="?n=/division/detail/{{ division.id }}&tournamentId={{tournamentId}}">{{ division.title }}</a>
			  	</td>
			  	
			  	<td>
			  		{{division.getActiveStage().title}} Round {{division.getActiveStage().getActiveRound()}}
			  	</td>
			  	
			  	<td>
			  		<a href="?n=/division/active/{{division.id}}&tournamentId={{tournamentId}}">Tournament master</a>
			  	</td>
			  	
			  	<td class="op">
			  		<a href="?n=/division/detail/{{ division.id }}&tournamentId={{tournamentId}}"><img src="skin/default/assets/img/icons/page-forum-16.png" alt="details" /></a> 
			  		<a href="?n=/division/remove/{{division.id}}&tournamentId={{tournamentId}}"><img src="skin/default/assets/img/icons/cross-16.png" alt="delete" /></a>
			  	</td>
			</tr>
		 {% endfor %}
	  	</table>
	  	
		<a class="button button-blue" href="?n=/division/create&tournamentId={{tournament.id}}"><span class="add">Add division</span></a>
		<a class="button button-blue" href="?n=/tournament/save"><span class="add">Save data</span></a>
	</div>
	
	
    
  
{% endblock %}