{% extends "index.html" %}
 
{% block title %}SMS{% endblock %}
{% block pagetitle "SMS list" %}

{% block content %}
	
	<div class="section">
		<h3>SMS List</h3>
			
		<table>
			<tr>
				<th>Team</th>
				<th>Round</th>
				<th>Message</th>
				<th>Length</th>
				<th class="op">Operations</th>
			</tr>
			{% for message in SMSs %}
			<tr>
				<td><a href="?n=/team/details/{{message.team_id}}">{{message.team.name}}</a></td>
				<td class="op"><a href="?n=/sms/detail/{{message.id}}"><img src="skin/default/assets/img/icons/page-forum-16.png" alt="detail" title="detail" /></a></td>
			</tr>		
			{% endfor %}	
		</table>
	
		<a class="button" href="?n=/field/create&tournamentId={{tournamentId}}"><span class="add">Add field</span></a>
	</div>
    
  
{% endblock %}