{% extends "index.html" %}

{% block title %}Edit Round {{round.rank}} for {{pool.title}} in {{division.title}} Division{% endblock %}

{% block content %}
	<h1>Edit Round {{round.rank}} for {{pool.title}} in {{division.title}} Division</h1>
  
  	
  	<form method="post" action="?n=/round/edit/{{round.id}}" name="form-round-edit">
  		{% include "round/form.html" %}
  		
  		
		<button name="roundSubmit" value="1">update</button>
		<button name="cancel" value="1">cancel</button>
		
  	</form>
  
{% endblock %}