{% extends "index.html" %}
 
{% block title %}New stage for Open Division{% endblock %}

{% block content %}
	<h1>New stage for Open Division</h1>
  
  	<ul class="formlist">
  		<li>
  			<label>Stage name</label>
  			<input type="text" name="tournamentName" value="Swissdraw" />
  		</li>
  		<li>
  			<label>Rounds</label>
  			<input type="text" name="startDate" />
  		</li>
  		<li>
  			<label>Matchmaking</label>
  			<select>
  				<option value="1">Swiss draw</option>
  				<option value="2">What goes here</option>
  			</select>
  		</li>
  		
  		<li class="formaction">
  			<a class="button" href="?n=/division/detail/1"><span>Create</span></a>
  		</li>
  	</ul>
  	
  
  
  
{% endblock %}