{% extends "index.html" %}
 
{% block title %}Open Division - Swissdraw{% endblock %}

{% block content %}
	<h1>{{stage.Division.title}} - {{stage.title}}</h1>
	
	
	<h2>Pools</h2>
	
	<ul class="itemlist">
		{% for pool in stage.Pools %}
			<li><a href="?n=/pool/detail/{{pool.id}}">{{pool.title}}</a> <a class="action" href="?n=/pool/edit/{{pool.id}}">edit</a> <a class="action" href="?n=/pool/remove/{{pool.id}}">delete</a> {% if pool.isFinished() %}(finished){% endif %} ({{pool.spots}})</li>
		{% endfor %}
	</ul>
	<a class="action" href="?n=/pool/create&stageId={{stage.id}}">+ Add pool</a>
	
	
	<p>
		<a class="action" href="?n=/stage/moves/{{stage.id}}">Edit moves</a>
	</p>

	<p>
		<a href="?n=/division/detail/{{stage.Division.id}}">back to division</a>
	</p>
  
{% endblock %}