{% extends "index.html" %}
 
{% block title %}Pool{% endblock %}
{% block header %}
	<style type="text/css">
		@import url("skin/default/assets/style/strategy/bracket.css");
	</style>
{% endblock %}
{% block pagetitle %} {{pool.title}} {% endblock %}
{% block content %}

	<div class="section">
		<h3>Seeds</h3>
		<ul>
		{% for spot in pool.getSpots(true) %}
			<li>{{ spot.rank }} - {{ spot.title }}</li>
		{% endfor %}
		</ul>
	</div>
	
	<div class="section">
		<h3>Standing</h3>
	
		{% for round in pool.Rounds %}
			{# TODO: insert the right format classes #}
			<a {% if loop.index == standingsRound %} class="action" {% else %} class="roundchoice" {% endif %} href="?n=/pool/detail/{{pool.id}}&standingsRound={{loop.index}}">after Round {{loop.index}}</a> &nbsp&nbsp&nbsp;
		{% endfor %}
	
		<table class="standings">
			<tr>
				<th>#</th>
				<th>Team</th>
				<th>Games</th>
				<th>VP</th>
				<th>Opponent VP</th>
				<th>Points</th>			
				<th>Margin</th>
				<th>Goals Scored</th>
				<th>Wins</th>
				<th>Losses</th>
				<th>Spirit</th>
			</tr>
		
		{% for team in standings %}
			<tr{% if loop.index is even %} class="odd" {% endif %}>
				<td class="rank">{{team.rank}}</td>
				<td class="team"><a href="{{team.team_id}}">{{team.name}}</a></td>
				<td class="nrgames">{{team.games}}</td>
				<td class="vp">{{team.vp}}</td>
				<td class="opp_vp">{{team.opp_vp}}</td>
				<td class="points">{{team.points}}</td>
				<td class="margin">{{team.margin}}</td>
				<td class="scored">{{team.scored}}</td>
				<td class="wins">{{team.wins}}</td>
				<td class="losses">{{team.losses}}</td>
				<td class="spirit">{{team.spirit}}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	
	<div class="section">
		<h3>Bracket</h3>
		
		<div class="bracket">
		{% for round in pool.Rounds %}
			<div class="round">
				{{round.rank}}				
				{% if round.rank == pool.currentRound %}
					<a class="action" href="?n=/round/createMatchups/{{round.id}}">Create Matchups for this round</a>					
					{% if round.allTeamsFilledIn() == true %} <br> <a class="action" href="?n=/round/announce/{{round.id}}">Announce this round (upload SMS and matchups)</a>
					<br><a class="action" href="?n=/round/randomScore/{{round.id}}">Fill this round up with random scores</a>{% endif %}
					{% if round.allResultsFilledIn() == true %}<br><a class="action" href="?n=/round/finish/{{round.id}}">Finish this round (upload results and ranking, increase current round)</a>{% endif %}					
				{% endif %}
				
				
					
				{% for match in round.Matches %}
					<div class="match">
						<div class="team">
							{% if match.home_team_id==0 and not match.away_team_id==0%}
								BYE
							{% elseif match.home_team_id %}
								{{match.HomeTeam.name}}
							{% else %}
								{{match.homeName}}
							{% endif %}
						</div>
						
						<div class="team">
							{% if match.away_team_id==0 and not match.home_team_id==0%}
								BYE
							{% elseif match.away_team_id %}
								{{match.AwayTeam.name}}
							{% else %}
								{{match.awayName}}
							{% endif %}
						</div>
						
						<div class="score">
							{{match.homeScore}} - {{match.awayScore}}
						</div>
						
						
						<a href="?n=/match/edit/{{match.id}}&tournamentId={{tournamentId}}&divisionId={{divisionId}}&stageId={{stageId}}&poolId={{poolId}}">edit</a>
					</div>
				{% endfor %}
				
			</div>
		{% endfor %}
		</div>
	</div>
	
	
	<p>
		<a href="?n=/stage/detail/{{pool.Stage.id}}">back to stage</a>
	</p>
  
{% endblock %}