{% extends "index.html" %}
 
{% block title %}Pool{% endblock %}

{% block content %}
	<h1>{{pool.Stage.title}} - {{pool.title}}</h1>
	
	<h2>Spots</h2>
	<ul>
	{% for spot in pool.getSpots() %}
		<li>{{ spot.rank }} - {{ spot.title }}</li>
	{% endfor %}
	</ul>
	
	<h2>Rounds</h2>
	<ul class="roundlist">
		{% for round in pool.Rounds %}
			<li>
				<h3>Round {{round.rank}}</h3>
				<ul class="matchlist">
				{% for match in round.Matches %}
					<li>{{match.matchName}}</li>
				{% endfor %}
				</ul>
				<br />
				<br />
			</li>
		{% endfor %}
	</ul>

	
	
	<p>
		<a href="?n=/stage/detail/{{pool.Stage.id}}">back to stage</a>
	</p>
  
{% endblock %}