{% extends "index.html" %}
 
{% block title %}Pool{% endblock %}

{% block content %}
	<h1>{{pool.Stage.title}} - {{pool.title}}</h1>
	
	<h2>Spots</h2>
	<ul>
	{% for spot in pool.getSpots() %}
		<li>{{ spot.rank }} - {{ spot.title }}</li>
	{% endfor %}
	</ul>
	
	<h2>Rounds</h2>
	<ul class="roundlist">
		{% for round in pool.Rounds %}
			<li>
				<h3>Round {{round.rank}}</h3> 
				{% if round.rank == pool.currentRound %}
					<a class="action" href="?n=/pool/matchups/{{pool.id}}">Create Matchups for this round</a>					
				{% endif %}
				<ul class="matchlist">  {# TODO: display real team names, display more game information #}
				{% for match in round.Matches %}
					<li>{{match.matchName}} : {{match.home_team_id}} - {{match.away_team_id}} : score : {{match.homeScore}} - {{match.awayScore}}</li>
				{% endfor %}
				</ul>
				<br />
				<br />
			</li>
		{% endfor %}
	</ul>

	
	
	<p>
		<a href="?n=/stage/detail/{{pool.Stage.id}}">back to stage</a>
	</p>
  
{% endblock %}