{% extends "index.html" %}
 
{% block title %}Pool{% endblock %}
{% block pagetitle %}{{pool.Stage.title}} - {{pool.title}}{% endblock %}

{% block header %}
	<script type="text/javascript" src="app/js/jquery.js"></script>
	<script type="text/javascript" src="app/js/pool.js"></script>
{% endblock %}

{% block content %}
	
	<div class="section">
		<h3>Seeds</h3>
		<ul>
		{% for spot in pool.getSpots(true) %}
			<li>{{ spot.rank }} - {{ spot.title }}</li>
		{% endfor %}
		</ul>
	</div>
	

	<div class="section">
		<h3>Rounds</h3>
		<ul class="roundlist">
		{% for round in pool.Rounds %}
			<li>
				<h3>Round {{round.rank}}</h3>
				<a href="?n=/round/edit/{{round.id}}&tournamentId={{tournamentId}}&divisionId={{divisionId}}&stageId={{stageId}}&poolId={{poolId}}">edit this round</a> 
				{% if round.allTeamsFilledIn() == true %} &nbsp&nbsp&nbsp&nbsp; <a class="action" href="?n=/round/announce/{{round.id}}">Announce this round (upload SMS and matchups)</a>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp; <a class="action" href="?n=/round/randomScore/{{round.id}}">Fill this round up with random scores</a>{% endif %}
				<br><a class="action" href="?n=/round/finish/{{round.id}}">Finish this round (upload results and ranking, increase current round)</a>			
				
				<table class="matchlist">
					<tr>
						<th>#</th>
						<th>Field</th>
						<th>Home</th>
						<th>Away</th>
						<th>result</th>
						<th>Time</th>
						<th class="op">op</th>
					</tr>
					
				{% for match in round.Matches %}
					<tr class="match" id="sc9-row-match-{{match.id}}">
						<td class="rank">{{loop.index}}</td>
						<td class="field">
							{% if match.field_id %}
								{{match.Field.title}}
							{% else %}
								empty
							{% endif %}
						</td>
						<td class="team"><a href="?n=/team/detail/{{match.home_team_id}}">{% if match.home_team_id==0 and not match.away_team_id==0%}BYE{% elseif match.home_team_id %}{{match.HomeTeam.name}}{% else %}{{match.homeName}}{% endif %}</a></td>
						<td class="team"><a href="?n=/team/detail/{{match.away_team_id}}">{% if match.away_team_id==0 and not match.home_team_id==0%}BYE{% elseif match.away_team_id %}{{match.AwayTeam.name}}{% else %}{{match.awayName}}{% endif %}</a></td>
						{% if round.rank == pool.currentRound %}
							<td><input class="sc9-score-input" id="sc9-score-input-{{match.id}}" value="{{match.homeScore}} - {{match.awayScore}}" /></td>
						{% else %}
							<td class="result">{{match.homeScore}} - {{match.awayScore}}</td>
						{% endif %}
						<td class="time">{{match.timeFormat()}}</td>
						<td class="op"><a href="?n=/match/edit/{{match.id}}&tournamentId={{tournamentId}}&divisionId={{divisionId}}&stageId={{stageId}}&poolId={{poolId}}"><img src="skin/default/assets/img/icons/page-forum-16.png" alt="details" /></a></td>
					</tr>
				{% endfor %}
				</table>
			</li>
		{% endfor %}
		</ul>
	</div>
	
	<div class="section">
		<h3>Round operations</h3>
		<a class="button button-blue" href="?n=/round/create/&poolId={{pool.id}}"><span class="add">Add Round</span></a>		
		<a class="button button-grey" href="?n=/round/announce/&stageId={{ activeStage.id }}&roundRank={{currentRound}}"><span class="move">Announce</span></a>
		<a class="button button-blue" href="?n=/print/results&stageId={{ activeStage.id }}&roundRank={{currentRound}}" target="_blank"><span class="print">Print Results</span></a>
		<a class="button button-blue" href="?n=/print/schedule&stageId={{ activeStage.id }}&roundRank={{currentRound}}" target="_blank"><span class="print">Print schedule</span></a>
		<a class="button button-blue" href="?n=/print/standings&stageId={{ activeStage.id }}&roundRank={{currentRound}}"><span class="print">Print standings</span></a>
		<a class="button button-red" href="?n=/round/finish/&stageId={{ activeStage.id }}&roundRank={{currentRound}}"><span class="proceed">Finish round</span></a>
	</div>
	
	
	<p>
		<a href="?n=/stage/detail/{{pool.Stage.id}}">back to stage</a>
	</p>
	
	
	<div id="sc9-match-options" class="optionsbox">
		<a class="button button-blue" id="pool-switch-fields" href="#"><span class="switch">Switch fields</span></a>
	</div>
	
  
{% endblock %}