{% extends "index.html" %}
 
{% block title %}Stallcount9 - New Division{% endblock %}
{% block pagetitle "Create Division" %}


{% block content %}
	
	<div class="section">
 		<h3>New division for {{ tournament.title }}</h3>
  
  
	  	<form method="post" action="?n=division/create/" name="form-division-create">
	  		{% include "division/form.html" %}
	  		
	  		
	  		<input type="hidden" name="divisionSubmit" value="1" />
	  		
	  		<a class="button button-blue" href="#" onclick="document['form-division-create'].submit();"><span class="add">Add</span></a>
			<a class="button button-grey" href="?n=/tournament/detail/{{ tournament.id}}"><span class="cancel">Cancel</span></a>
	  	</form>
	</div>
  
  
  
{% endblock %}