{% extends "index.html" %}
 
{% block title %}Stallcount9 - Open Division{% endblock %}

{% block content %}
	<h1>{{division.Tournament.title}} {{division.title}}</h1>
	<h2>Stages</h2>
	
	
	<ul class="itemlist">
		{% for stage in division.Stages %}
			<li><a href="?n=/stage/detail/{{stage.id}}">{{stage.title}}</a> <a class="action" href="?n=/stage/remove/{{stage.id}}">delete</a></li>
		{% endfor %}
	</ul>
	<a class="action" href="?n=/stage/create&divisionId={{division.id}}">+ Add stage</a>
	
	<br /><br />
	
	<h2>Teams</h2>
  	<ul class="itemlist">
		{% for team in division.Teams %}
			<li><a href="?n=/team/detail/{{team.id}}">{{team.name}}</a> <a class="action" href="?n=/team/edit/{{team.id}}">edit</a> <a class="action" href="?n=/team/remove/{{team.id}}">delete</a></li>
		{% endfor %}
 	</ul>
  		
 	<a class="action" href="?n=/team/create&divisionId={{division.id}}">+ Add team</a> 
  
{% endblock %}