{% extends "index.html" %}
 
{% block title %}New field{% endblock %}
{% block pagetitle %} Add Field{% endblock %}


{% block content %}
	<div class="section">
		<h3>Create new field</h3>
	  
	  
	  	<form method="post" action="?n=/field/create/" name="form-field-create">
	  		{% include "field/form.html" %}
	  		
	  		
			<button name="fieldsubmit" value="1">add</button>
	  	</form>
	</div>  
  
  
  
	<div class="section">
		<h3>Create range of fields</h3>
		
		<form method="post" action="?n=/field/createrange" name="form-field-createrange">
		  	<input type="hidden" name="tournamentId" value="{{field.tournament_id}}" />	
			<ul class="formlist">
  				<li>
  					<label>Range start</label>
  					<input type="text" name="rangeStart" value="1" />
  				</li>
  				<li>
  					<label>Range end</label>
  					<input type="text" name="rangeEnd" value="10" />
  				</li>
  				<li>
  					<label>Prefix</label>
  					<input type="text" name="prefix" value="Field" />
  				</li>
 			</ul>
			
			<button name="fieldrangesubmit" value="1">generate</button>		
		</form>
	</div>
  
  
{% endblock %}