{% extends "index.html" %}
 
{% block title %}Fields{% endblock %}
{% block pagetitle "Field list" %}

{% block content %}
	
	<div class="section">
		<h3>Fields</h3>
			
		<table>
			<tr>
				<th>Field name</th>
				<th class="op">Operations</th>
			</tr>
			{% for field in fields %}
			<tr>
				<td>{{field.title}}</td>
				<td></td>
			</tr>		
			{% endfor %}	
		</table>
	
		<a class="button" href="?n=/field/create&tournamentId={{tournamentId}}"><span class="add">Add field</span></a>
	</div>
    
  
{% endblock %}