{% extends "index.html" %}
 
{% block title %}Fields{% endblock %}
{% block pagetitle "Field list" %}

{% block content %}
	
	<div class="section">
		<h3>Fields</h3>
			
		<table>
			<tr>
				<th>Field name</th>
				<th class="op">Operations</th>
			</tr>
			{% for field in fields %}
			<tr>
				<td><a href="?n=/field/details/{{field.id}}&tournamentId={{tournamentId}}">{{field.title}}</a></td>
				<td class="op"><a href="?n=/field/edit/{{field.id}}&tournamentId={{tournamentId}}"><img src="skin/default/assets/img/icons/page-forum-16.png" alt="edit" title="edit" /></a></td>
			</tr>		
			{% endfor %}	
		</table>
	
		<a class="button" href="?n=/field/create&tournamentId={{tournamentId}}"><span class="add">Add field</span></a>
	</div>
    
  
{% endblock %}