@CHARSET "UTF-8";

	body {
		text-align: center;
		background-color: #fff;
		padding: 16px 0 0 0;
	}
	
	
	#stallcount9 {
		width: 896px;   /*996 - padding*/
		background: #daecf0;
		padding: 48px 50px 50px 50px;
		margin: auto;
		text-align: left;
		overflow: hidden;
	}
	
