{% extends "index.html" %}
 
{% block title %}{{team.name}}{% endblock %}
{% block pagetitle %} Team Details {{team.name}} {% endblock %}
{% block content %}



	<div class="section">
		<h3>Details</h3>
		<ul class="detail-list">
			<li>
				<label>Name</label>
				<p>{{team.name}}</p>
			</li>
			
			<li>
				<label>Short Name</label>
				<p>{{team.shortName}}</p>
			</li>
			
			<li>
				<label>Email</label>
				<p><a href="mailto:{{team.email1}}">{{team.email1}}</a><br /> <a href="mailto:{{team.email2}}">{{team.email2}}</a></p>
			</li>
			
			<li>
				<label>Contact Name</label>
				<p>{{team.contactName}}</p>
			</li>
			
			<li>
				<label>City</label>
				<p>{{team.city}}</p>
			</li>
			
			<li>
				<label>Country</label>
				<p>{{team.country}}</p>
			</li>
		
			<li>
				<label>Mobile</label>
				<p>
					{{team.mobile1}}<br />
					{{team.mobile2}}<br />
					{{team.mobile3}}<br />
					{{team.mobile4}}<br />
					{{team.mobile5}}<br />  
				</p>
			</li>
			
			<li>
				<label>Comments</label>
				<p>{{team.comment}}</p>
			</li>
			
		</ul>
		
	</div>


	<div class="section">
		<h3>Home Matches</h3>
		<table>
			<tr>
				<th>Field</th>
				<th>Time</th>
				<th>Home Team</th>
				<th>Away Team</th>
				<th>Result</th>
			</tr>
		{% for match in team.HomeMatches %}
			<tr>
				<td>{{match.getFieldName()}}</td>
				<td>{{match.timeOnly()}}</td>
				<td>{{match.getHomeName()}}</td>
				<td>{{match.getAwayName()}}</td>
				<td>{{match.homeScore}} -- {{match.awayScore}}</td>
			</tr>
		{% endfor %}
			
		</table>
		
	</div>
	
	
	<div class="section">
		<h3>Away Matches</h3>
		<table>
			<tr>
				<th>Field</th>
				<th>Time</th>
				<th>Home Team</th>
				<th>Away Team</th>
				<th>Result</th>
			</tr>
		{% for match in team.AwayMatches %}
			<tr>
				<td>{{match.getFieldName()}}</td>
				<td>{{match.timeOnly()}}</td>
				<td>{{match.getHomeName()}}</td>
				<td>{{match.getAwayName()}}</td>
				<td>{{match.homeScore}} -- {{match.awayScore}}</td>
			</tr>
		{% endfor %}
			
		</table>
		
	</div>
	
	<div class="section">
		<h3>SMS</h3>
		
		<table>
			<tr>
				<th>Team</th>
				<th>Time</th>
				<th>Round</th>
				<th>Message</th>
				<th>Length</th>
				<th class="op">Operations</th>
			</tr>
			{% for sms in team.SMSs %}
			<tr>
				<td><a href="?n=/team/details/{{sms.Team.id}}">{{sms.Team.name}}</a></td>
				<td>{{sms.createTimeNice()}}</td>
				{% if sms.round_id is defined %}
					<td>{{sms.Round.Pool.title}} {{sms.Round.rank}}</td>
				{% else %}
					<td></td>
				{% endif %}
				<td>{{sms.message}}</td>
				<td>{{sms.message|length}}</td>				
				<td class="op"><a href="?n=/sms/detail/{{sms.id}}"><img src="skin/default/assets/img/icons/page-forum-16.png" alt="detail" title="detail" /></a></td>
			</tr>		
			{% endfor %}	
		</table>
	</div>
  
  
{% endblock %}

